@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex: 1;
    flex-flow: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: rgb(41, 44, 60);
    color: white;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 512px;
}

.header-main {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    gap: 246px;
    margin: 48px 0px;
}

.header-text {
    max-width: 200px;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

.header-image {
    max-width: 350px;
    max-height: 350px;
}

li {
    display: inline-block;
    color: white;
  }

a:link, a:visited, a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 14px;
}

.body {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 48px 0px;
}

.body-title {
    display: flex;
    justify-content: center;
}

.card-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 36px;
    margin: 36px;
}

.card {
    display: flex;
    flex-flow: column;
    text-align: center;
    gap: 12px;
    max-width: 150px;
    max-height: 150px;
    border: solid rgb(0, 205, 205) 4px;
    border-radius: 8px;
}

.quote {
    background-color: lightgray;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    color: rgb(49, 49, 49);
    padding: 24px;
}

.quote-maintext {
    max-width: 400px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    color: black;
}

.signup-main {
    display: flex;
    justify-content: center;

}

.signup-background {
    display: flex;
    gap: 98px;
    justify-content: center;
    background-color: rgb(29, 114, 199);
    border-radius: 7px;
    width: 600px;
    height: 150px;
    margin: 48px;
    color: white;
}

.signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-button {
    align-self: center;
    max-height: 20px;
}

button {
    width: 74px;
    height: 24px;
    border: none;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    background-color: rgb(0, 183, 255);
    color: white;
    font-weight: 900;
}

p.header-title {
    font-weight: 900;
    font-size: 33px;
}

p.quote-text{
    font-style: italic;
}

img {
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 44, 60);
    color: white;
    padding: 24px 0px;
}